@import '../../../scss/custom';

.List {
  width: 500px;
  .list-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border-radius: 5px;
    .list-item {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      padding: 5px 0px;
      img {
        margin-left: 5px;
      }
      h4 {
        width: 100%;
        color: $light;
        text-align: center;
        font-size: 1.1rem;
      }
    }
    .active {
      background-color: $orange;
      background: linear-gradient(
        180deg,
        rgba(189, 25, 10, 0.9) 0%,
        rgba(189, 25, 10, 0) 100%
      );
    }
  }
}

@media (max-width: 799px) {
  .List {
    width: 280px;
    .list-container {
      width: 100%;
      height: 200px;
      .list-item {
        height: 50px;
        img {
          height: 50px;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  .List {
    width: 500px;
    .list-container {
      .list-item:hover {
        background-color: #000;
        cursor: pointer;
      }
      width: 100%;
      height: 230px;
      .list-item {
        height: 80px;
        img {
          height: 70px;
        }
      }
    }
  }
}
