@import '../../scss/custom';

.Stats {
  background-image: url(./stats_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  .hero-container {
    height: 100%;
    width: 100%;
    padding: 2% 13%;

    h2 {
      color: $light;
      text-align: center;
    }

    a {
      text-decoration: none;
    }

    .hero {
      height: 600px;
      width: 100%;
      padding: 10%;

      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;

      img {
        height: 100%;
        object-fit: cover;
        background-color: black;
        border: 1px solid $orange;
        border-radius: 5px;
      }
      h3 {
        color: $orange;
        margin-top: 0.5rem;
        text-align: center;
        font-size: 1.3rem;
      }
    }
  }
}
