@import '../../scss/custom';

@media (min-width: 768px) {
  .Header {
    border-bottom: 1px solid rgb(24, 24, 24);
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .Header,
  .container,
  .navbar {
    width: 100%;
    background-color: black;
  }
}

a.nav-link {
  color: $light;
  font-family: 'Germania One', cursive;
  font-size: 1.1rem;
  &:hover {
    color: $orange;
  }
}

a.navbar-brand {
  color: $orange;
  font-family: 'Germania One', cursive;
  font-size: 1.3rem;
  &:hover {
    color: $light;
  }
}
