@import '../../scss/custom';

.Abilities {
  h3 {
    font-size: 1.4rem;
    text-align: center;
  }

  .ability-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .ability {
      text-align: center;
      margin: 0.3rem 0.5rem;
      p {
        padding: 0;
        margin: 0;
      }
      .num {
        font-size: 2rem;
      }
    }
  }

  @media (min-width: 800px) {
    .ability {
      width: 90px;
    }
  }
}
