@import '../../scss/custom';

.Resistances {
  width: 360px;

  .stat-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .stat {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      width: 50%;
      p {
        margin: 0.1rem 0.2rem;
        padding: 0;
      }

      @media (max-width: 799px) {
        font-size: 0.9rem;
      }
      @media (min-width: 800px) {
        font-size: 0.9rem;
      }
    }
  }
}
